{% extends 'header.html' %}
{% block common %}
{% load static %}
    {% include 'studentNavbar.html' %}
    <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Student Register</title>
  </head>
  <body>
  <form action="{% url 'saveStuReg' %}" method="post">
      {% csrf_token %}
  <table align="center" border="2">
      <tr>
          <th colspan="2">
              <h1>Student Registration</h1>
          </th>
      </tr>
      <tr>
          <th>
              Name:
          </th>
          <th>
              <input type="text" required name="s1" >
          </th>
      </tr>
      <tr>
          <th>
              Contact No.:
          </th>
          <th>
              <input type="number" required name="s2" >
          </th>
      </tr>
      <tr>
          <th>
              Email:
          </th>
          <th>
              <input type="email" required name="s3" >
          </th>
      </tr>
      <tr>
          <th>
              Password:
          </th>
          <th>
              <input type="password" required name="s4" >
          </th>
      </tr>
      <tr align="center">
          <th colspan="2">
              <button type="submit">Register</button>
          </th>
      </tr>
  </table>
   </form>
      {% for y in messages %}
      <table align="center">
          <tr align="center">
              <th>
                  <div class="alert alert-success" role="alert">
                        {{ y }}
                  </div>
              </th>
          </tr>
      </table>
      {% endfor %}



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
    <div style="position: absolute;bottom: 0px;width: 100%">{% include 'footer.html' %}</div>
{% endblock %}
